In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/morep/OneDrive/Documents/Book1.csv")

In [3]:
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join,Placement_Offer
0,53,64,75,83,44,66
1,61,63,66,86,60,45
2,95,83,87,73,86,47
3,76,43,95,58,79,78
4,60,54,88,41,72,58
...,...,...,...,...,...,...
84,80,76,100,67,46,87
85,63,84,95,93,47,100
86,47,72,94,81,47,43
87,57,84,70,41,76,97
88,40,51,41,46,60,60

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Math_Score       89 non-null     int64
 1   Reading_Score    89 non-null     int64
 2   Writing_Score    89 non-null     int64
 3   Placement_Score  89 non-null     int64
 4   Club_Join        89 non-null     int64
 5   Placement_Offer  89 non-null     int64
dtypes: int64(6)
memory usage: 4.3 KB

In [5]:
df.isnull()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join,Placement_Offer
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
84,False,False,False,False,False,False
85,False,False,False,False,False,False
86,False,False,False,False,False,False
87,False,False,False,False,False,False
88,False,False,False,False,False,False

In [6]:
df.Math_Score

0     53
1     61
2     95
3     76
4     60
      ..
84    80
85    63
86    47
87    57
88    40
Name: Math_Score, Length: 89, dtype: int64

In [7]:
df.Math_Score.min

<bound method Series.min of 0     53
1     61
2     95
3     76
4     60
      ..
84    80
85    63
86    47
87    57
88    40
Name: Math_Score, Length: 89, dtype: int64>

In [8]:
x=df.Math_Score.min

In [9]:
x

<bound method Series.min of 0     53
1     61
2     95
3     76
4     60
      ..
84    80
85    63
86    47
87    57
88    40
Name: Math_Score, Length: 89, dtype: int64>

In [10]:
y=df.Math_Score.fillna(x)

In [11]:
y

0     53
1     61
2     95
3     76
4     60
      ..
84    80
85    63
86    47
87    57
88    40
Name: Math_Score, Length: 89, dtype: int64

In [12]:
df.isnull().sum()

Math_Score         0
Reading_Score      0
Writing_Score      0
Placement_Score    0
Club_Join          0
Placement_Offer    0
dtype: int64

In [13]:
df.isnull().sum()

Math_Score         0
Reading_Score      0
Writing_Score      0
Placement_Score    0
Club_Join          0
Placement_Offer    0
dtype: int64

In [14]:
df.Math_Score.isnull().sum()

np.int64(0)

In [16]:
df.Writing_Score.min()

40

In [17]:
x=df.Writing_Score.min()

In [18]:
y=df.Writing_Score.fillna(x)

In [19]:
y

0      75
1      66
2      87
3      95
4      88
     ...
84    100
85     95
86     94
87     70
88     41
Name: Writing_Score, Length: 89, dtype: int64

In [20]:
df.Placement_Score.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
84    False
85    False
86    False
87    False
88    False
Name: Placement_Score, Length: 89, dtype: bool

In [22]:
df.Placement_Score.isnull().sum()

np.int64(0)

In [23]:
x=df.Placement_Score.min()

In [24]:
x

41

In [25]:
y=df.Placement_Score.fillna(x)